.sitemessage {
    display: inline-block;
    white-space: nowrap;
    color: rgb(70, 248, 26);
    animation: floatText 15s infinite linear;
    padding-left: 100%; /*Initial offset*/
  }
  .sitemessage:hover {
    animation-play-state: paused;
  }
  @keyframes floatText {
    to {
      transform: translateX(-100%);
    }
  }

  .scrollBackground{
    background-color: rgb(5, 3, 31);
  }

  .timeBody{
    font-family: 'Orbitron', sans-serif;
    font-size: 2rem;
    height: 25vh;
    text-align: center;
  }

  .largeNum{
    height: 100%;
    font-size: 5rem;
    font-weight: 500;
    padding-right: .5rem;
  }

  .row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .limitWidth {
    width: 3.6rem;
    font-size: 1.5rem;
  }
